body,
html {
    margin: 0;
    height: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 25px;
    overflow: hidden;
    background-color: lightblue;
    font: bold 20px Times New Roman, Georgia;
}

li {
    float: left;
    color: white;
    margin: auto;
}

li a {
    margin-left: 110px;
    display: block;
    color: white;
    text-align: center;
    /* padding: 14px 16px; */
    text-decoration: none;
}

li a:hover {
    background-color: #010446;
}

/* * {
    box-sizing: border-box;
} */

.mySlides {
    display: none;
}

img {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
    box-sizing: border-box;
    max-width: 700px;
    position: relative;
    top:50px;
    margin: auto;
}

/* The dots/bullets/indicators */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .text {
        font-size: 11px
    }
}

form{
    margin: 5%;
    padding: 20px;
}